@model User

<div class="login-container">

    <form class="login">
        <div class="header-content">
            <p class="p1">LOGIN</p>
            <p class="p2">How to i get started lorem ipsum dolor at?</p>
        </div>

        <section class="login-fields">
            <input class="username-field" type="text" placeholder="Username" asp-for="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>

            <input class="password-field" type="password" placeholder="Password" />
        </section>

        <button class="loginnow-bt" type="submit">
            Login Now
        </button>

    </form>

    <img height="768" src="~/assets/images/registration-right.png" />
</div>